*{
    font-family: Arial, Helvetica, sans-serif;
}

.card,.table, .navbar-kecil{
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.custom-img-size{
    width: 100px;
    height: auto;
}

.small-img-artikel{
    width: 120px;
    height: auto;
}

.img-artikel-main{
    max-width: 100%;
    height: auto;
}

.list-inline-item{
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 20px;
    margin-right: 5px;
}

.custom-hr{
    height: 5px;
    border: none;
    width: 15%;
}
.nav-link .material-symbols-outlined {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

.nav-link {
    display: inline-flex;
    align-items: center;
}


.navbar-admin{
    background-color: #134B70;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.small-img-artikel {
    width: 100px;
    height: 75px;
    object-fit: cover;
}